*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

html, body, #root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    font-family: 'Karla', sans-serif;
}

body {
    background-color: #0B2434;
}

main {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 720px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header > h1 {
    margin-bottom: .5em;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.die {
    aspect-ratio: 1/1;
    width: 1.5em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.die:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.die.active {
    background-color: #59E391;
}

.die-dot {
    aspect-ratio: 1/1;
    width: 10px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
}

.roll-bttn {
    font-size: 1.45rem;
    color: white;
    padding: .6em 1.4em;
    border-radius: 5px;
    background-color: #5035FF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}